.header {
    padding: 15px;
    width: 50%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

 a {
    /* background-color: aliceblue; */
    padding: 10px;
    border-radius: 10px;
    width: 100px;
    text-align: center;
    text-decoration: none;
}

a:hover {
    background-color: rgb(209, 209, 209);
}



.movies-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.movie-item {
    flex-basis: calc(25% - 20px);
    /* Para 4 filmes por linha com espaçamento entre eles */
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;

}

.movie-item a {
    padding: 10px;
    background-color: aliceblue;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    padding: 10px;
}

.movie-item a:hover {
    background-color: rgb(209, 209, 209);
    padding: 10px;
    border-radius: 10px;
    width: 100px;
    text-align: center;
    text-decoration: none;
}

.movie-item img {
    max-width: 100%;
    height: 300px;
    border-radius: 10px;
}

.container-movie{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.movie-c {
    width: 30%;
    /* background-color: rgb(230, 230, 230); */
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
    align-items: center;
    text-align: center;
}

.movie-c img {
    border-radius: 10px;
}
.search{
    width: 30%;
    /* background-color: rgb(230, 230, 230); */
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
    align-items: center;
    text-align: center;
    transform: translate(115%, 30%);
}
.barra {
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
  }
body{
    font-family: Arial, Helvetica, sans-serif;
}
.movie-form {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.form-title {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

.input-field {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.submit-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
}

.submit-button:hover {
    background-color: #0056b3;
}
 .form-edit{
    width: 300px;
  margin: 0 auto;
  padding: 50px;
  border: 1px solid #ccc;
  background-color: #f8f8f8;
  border-radius: 5px;
 }
.label-edit{
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
input[type="text"],
input[type="number"],
select {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}
button-edit{
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
}